@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 밑줄 없애기 */
text-a{
decoration: none;
}
ul {
    /* 디스크 없애기 */
    list-style-type: none;
}
/* ---------------------------------------------------------- 헤드 ---------------------------------------------------------- */
header {
    /* background-color: aqua; */
    width: 100%;
    height: 300px;
    position: relative;
    font-family: 'S-CoreDream-3Light';
}

#topmenu {
    height: 30px;
    padding-top: 6px;
    padding-left: 20px;
    background-color: #eee;
}
a:link, a:visited {
    color: #222;
    text-decoration: none;
}
#topmenu li{
    border-right: 1px solid #999;
    float: right;
}
#topmenu li:first-child{
    border: none;
    padding-right: 250px;
}
#topmenu > li > a{
    display: block;
    padding: 0px 20px 0px 20px;
    font-size: 11px;
}
#mainLogo {
    width: 100%;
}
#logo li{
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myCart{
    float: left;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    padding: 220px 0 0 20px;
}

/* ---------------------------------------------------------- 네브 ---------------------------------------------------------- */
nav {
    width: 1920px;
    height: 50px;
    margin: 0;
    font-family: 'S-CoreDream-3Light';
}
#mainCategory {
    width: 150px;
    padding: 14px 0;
    font-size : 16px;
    font-weight: bolder;
    float: left;
    text-align: center;
    background-color: #208d5c;
}
#All {
    color: #fff;
    
}

#category_row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #ddd;
}

#category_row li {
    width: 150px;
    padding: 14px 0;
    font-size : 16px;
    font-weight: bolder;
    float: left;
    text-align: center;
}

/* ---------------------------------------------------------- 푸터 ---------------------------------------------------------- */
#eventAd {
    position : relative;
    transform : translateY(-100%);
    height: 131px;
    border-bottom: 1px solid #222;
}
#eventAd a {
    margin: 0;
    padding: 0;
}
/* 푸터 하단고정 */
#wrap{
    height: 2700px;
	min-height: 100%;
	position: relative;
}
footer{
    background-color: #eee;
	bottom: 0;
	position: absolute;
	height: 380px;
    font-family: 'S-CoreDream-3Light';
}

footer li {
    line-height: 30px;
    float: left;
    padding: 29px 100px;
    color: #aaa;
}
footer li h1{
    color: black;
}

footer img {
    border-bottom: 1px solid #999;
}
/* ----------------------------------------------------마이페이지 시작---------------------------------------------------------- */
body {
    width: 1920px;
    margin: 0 auto;
    font-family: 'S-CoreDream-3Light';
}
#mainContainer {
    padding: 50px 0 100px;
    width: 1200px;
    margin: 0px auto;
    /* height: 3000px; */
}
#main_container {
    position: relative;
    width: 1200px;
    padding-top: 50px;
    margin: 0px auto;
}
#special_container {
    margin: 0 auto;
    margin-bottom: 120px;
    width: 1200px;
}
#special_container img {
    width: 1200px;
}
.best_cagr_box {
    position: relative;
    display: block;
    margin: -20px 0 30px 0px;
    z-index: 100;
}
.brand_sort {
    display: block;
    margin: 31px 14px 0px 0px;
    color: #000;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}
.brand_box {
    position: relative;
    /* display: inline; */
    height: 1px;
}
.spc_brand {
    float: right;
    display: inline-block;
}
.spc_brand li {
    float: left;
    padding-right: 18px;
    margin-right: 18px;
    background: url('../img/icon/bar_9.gif') no-repeat right 3px;
}
.spc_brand li a {
    float: left;
    color: #8d8d8d;
    font-size: 1.1em;
    font-weight: normal;
}
.spc_list_wrap {
    /* position: relative; */
    width: 400px;
    /* margin: 0 auto; */
    vertical-align: top;
    /* justify-content: center; */
    /* align-items: center; */
    float: left;
}
.spc_list_wrap {
    overflow: hidden;
    position: relative;
}
.spc_main_wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border-radius: 10px;
    margin-bottom: 100px;
}
.spc_main_wrap img {
    width: 370px;
}
.goods_img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border-radius: 8px;
}
.goods_box {
    position: relative;
    display: block;
    font-weight: normal;
    height: 210px;
    text-align: left;
    padding: 18px 10px 0px 0px;
}
.name {
    overflow: hidden;
    display: block;
    width: 315px;
    color: #404040;
    padding: 0px 20px 6px 7px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0px;
}
.goods {
    position: relative;
    display: block;
    margin: 17px 0px 18px;
}
.price_b {
    padding-left: 5px;
    color: #333;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: -0.05em;
}
.per_price_b {
    display: inline-block;
    vertical-align: top;
    margin: 4px 0px 0px 7px;
    font-size: 1em;
    color: #bebebe;
    text-decoration: line-through;
    font-weight: 400;
}
.sale_b {
    float: right;
    display: inline-block;
    margin: 4px 0px 0px 0px;
    text-align: right;
    color: #d7266d;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: -0.05em;
}
.info {
    display: block;
    padding: 9px 0px 11px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.info_txt {
    overflow: hidden;
    margin: 0px 14px 0px 8px;
    color: #999;
    font-size: 14px;
    line-height: 1.25em;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    height: 2.6em;
    font-weight: normal;
}
.review_box {
    display: inline-block;
    vertical-align: top;
}
.review {
    display: inline-block;
    font-size: 1em;
    color: #262626;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-top: 5px;
}
.review_num {
    display: inline-block;
    font-size: 1em;
    color: #262626;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.del_box {
    vertical-align: top;
    margin: 15px 0px 0px 5px;
    border: 1px solid #208d5c;
}
.del {
    display: inline-block;
    letter-spacing: -0.05em;
    margin-right: 4px;
    font-size: 0.95em;
    padding: 5px 3px;
    color: #208d5c;
}



input[type="checkbox"]{
    display: none;
  }
input[type="checkbox"] + label{
    display: inline-block;
    width: 25px;
    height: 25px;
    border:3px solid #707070;
    position: relative;
    top:6px;
  }
input[name="cc"]:checked + label::after{
    content:'✔️';
    font-size: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 1px;
    bottom: 1px;
  }